.auth-form{
    width: 25rem;
    max-width:80% ;
    margin: 5rem auto;
    padding: 5rem 5rem;
    
    border:solid thin;
    border-radius: 15px;
}

.form-control2 lable{
    margin-bottom: .5rem;
}


.form-control2 
{
margin-bottom: 1rem;
}


.form-control2 label,
.form-control2 input
{
width: 100%;
display: block ; 
}

.form-actions button{
    background-color: rgb(253, 165, 178);
    padding: .5rem ;
    width: 100%;
    color:white;
    margin-bottom: 0.1rem;
    border-radius: 15px;
    
    

}

.form-actions button:hover,
.form-actions button:active{
background-color: rgb(221, 88, 133) ;
}

