.events-control{
    text-align: center;;
    border: 1px solid blue ; 
    padding: 1rem;
    margin: 2rem auto;
    width: 30rem;
    max-width: 80%;
}
.events_list{
   
    width: 40rem;
    max-width: 90%;
    margin:  2rem auto;
    list-style: none;
    padding: 0;
}



.event_list-item{
    margin: 1rem 0 ;
    padding: 1rem;
    border: 1px solid #027bfe;
    border-radius: 15px;
}

.btn{
    margin: 1rem;
    border-radius: 8px;
}


.lds-heart {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
  }
  .lds-heart div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: #fff;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .lds-heart div:after,
  .lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: #fff;
  }
  .lds-heart div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
  }
  .lds-heart div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
  }
  @keyframes lds-heart {
    0% {
      transform: scale(0.95);
    }
    5% {
      transform: scale(1.1);
    }
    39% {
      transform: scale(0.85);
    }
    45% {
      transform: scale(1);
    }
    60% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(0.9);
    }
  }
  