
.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}
.modal-dialog form{ 
margin: auto;
}


.modal-header {
    background: #027bfe;
    color: white;
}

.alert{
    padding:0 ;
}

#DateAndTimeInput_Modal{
    max-width: 65%;
}

.row{
    margin-bottom: 2rem ; 
}
.row input{
    max-width: 70%;
    margin-right: .3rem;
}

.row textarea{
    width: 150%;
}